[submodule "Practico1_arquitectura_de_computadoras__SingleCycleProcessor"]
	path = SingleCycleProcessor
	url = https://github.comIvanRenison/Practico1_arquitectura_de_computadoras__SingleCycleProcessor.git
